.large-desc {
    font-size: 7vh;
    font-weight: 800;
}

.medium-desc {
    font-size: 5vh;
    font-size: 400;
}

.small-desc {
    font-size: 3vh;
    font-size: 200;
}

.text-center {
    text-align: center;
}

